.h2HeaderDiv, .contactPDiv, .formDiv{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.h2Header {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.877);
}
.contactPDiv {
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
}
.formDiv {
    font-size: 2rem;
    color: white;
    background-color: rgba(255, 215, 215, 0.192);
    height: 20rem;
    width: auto;
    margin-right: 55px;
}
.contactSubmit {
    margin-top: 2rem;
    margin-left: 3rem;
    box-shadow: 2px white;
    
}
.form > input[type="text"],
.form > input[type="email"] {
    height: 2.5rem;
    width: 15rem;
    border-radius: 14px;
    border: none;
}